:root {
  --bigFootFeet: #ee964b;
  --stilDeGrainYellow: #f4d35e;
  --lightSeaGreen: #28afb0;
  --blueSapphire: #19647e;
  --darkJungleGreen: #1f271b;
  --champagnePink: #f9dad0;
  --paleCopper: #d5896f;
  --burlyWood: #dab785;
  --primaryColor: #af9a7d;
}
